:root {
  --primary-color: #007BFF;
  --secondary-color: #6c757d17;
  --primary-white: #f7f7f7;
  --primary-black: #131313;
  --spacing-unit: 8px;
  --breakpoint-medium: 768px;
}

/* ROOT ELEMENTS STYLING */
body {
  font-family: 'montserrat', sans-serif;
  font-size: 1.15em;
  margin: 0 auto;
  color: var(--primary-black);
  background: var(--secondary-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

i {
  font-weight: 200;
}

input {

}

a {

}

button {

   
}



option {

}

p {

}

u {

}

table {

}
th {

}

td {

}

tr {

}

ul {

}

li {

}

span {

}

/*HERE ARE NEW CLASSES*/
/* FLEX CLASSES */
.middle-top {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.middle-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.middle-bottom {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}

/* BORDER CLASSES  */
.border-thin-round {
  border: #131313 1px solid;
  border-radius: 15px;
}

.border-med-round {
  border: #131313 3px solid;
  border-radius: 15px;
}

.border-thick-round {
  border: #131313 5px solid;
  border-radius: 15px;
}

.border-thin {
  border: #131313 1px solid;
}

.border-med {
  border: #131313 3px solid;
}

.border-thick {
  border: #131313 5px solid;
}

/* SHADOW CLASSES*/
.thin-shadow {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}


/* CUSTOM COMPONENT CLASSES */
.text-div {
  padding: 20px;
}